<div class="row">
  <h1 class="header">Welcome to the home page!</h1>
</div>

<div class="row">
  <div class="large-8 push-4 columns" id="feed">
    This will be a feed of photos
  </div>
  <ul class="large-4 pull-8 columns">
    <%= render @users %>
  </ul>

</div>
