<div class="row">
  <h1 class="header large-10 columns">Browse recent uploads</h1>
  <%= render "layouts/upload" %>
</div>

<div class="row">
  <div class="large-10 push-2 columns" id="feed">
    <%= render @photos %>
  </div>
  <ul class="large-2 pull-10 columns">
    <%= render @users %>
  </ul>

</div>
