<div class="row">
  <h1 class="header large-10 columns">Photos by <span class="username"><%= @photos_username %></span></h1>
  <% if user_signed_in? %>
  <%= render "layouts/upload" %>
  <% end %>
</div>

<div class="row">
  <%= render @photos %>
</div>
